/anananyaaa.docx
/anananyaaa.pdf
/CERTIFICATE..docx
/Comet.lnk
/desktop.ini
/DIGITAL CIRCUIT AND LOGIC DESIGN.docx
/Downloads - Shortcut.lnk
/GitHub Desktop.lnk
/Google Meet.lnk
/Opera GX Browser.lnk
/Snapchat.lnk
/Sonma Typing-Expert.lnk
/Visual Studio Code.lnk
/YouTube.lnk